#footer {
    display: flex;
    border: solid 2px black;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    background-color: #698996;
    
}