.landing-page {
    margin-top: 80px;
}

.searching-chords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing-page-p {
    text-align: center;
    font-weight: 700;
}

.chord-from-api {
    text-decoration: none;
    text-align: center;
}


@media screen and (min-width: 918px) {
  

}