
.log-in-wrapper {
    display: block;
    height: 100%;
    
}

 .log-in-header {
     margin-top: 100px;
     text-align: center;
     font-size: 24px;
 }

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.log-in-form input {
    max-width: 50%;
    margin-bottom: 20px;
}

.demo-credentials {
    width: 100%;
    text-align: center;
}


.button-to {
    margin-bottom: 20px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
}

.username-label {
    font-weight: 500;
    font-size: 20px;
}

.password-label {
    font-weight: 500;
    font-size: 20px;
}

.create-new-acc {
    font-size: 15px;
    margin-top: 30px;
}

.incorrect-credentials {
    color: red;
}