
.sign-in-wrapper {
    display: block;
    height: 100%;
}
 .sign-in-header {
     margin-bottom: 10px;
 }

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form input {
    max-width: 50%;
    margin-bottom: 20px;
}

.sign-in-button {
    margin-bottom: 20px;
    width: 100px;
}

.cancel-sign-in {
    margin-bottom: 20px;
    width: 100px;
}


.create-acc {
    font-size: 15px;
}

