
  .note {
    height: 25px;
    color: #42383E;
    
  }

  .selected-finger {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 5px;
  }
  
  @media screen and (min-width: 1024px) {
    .note {
      cursor: pointer;
    }
  }


  