body {
    line-height: 2.5;
    background-color: #F9F5F4
}


.chord-btn {
    border: solid 2px black;
}

#chords {
    display: block;
}

/* Root Notes */

#root-notes {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.root-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.root-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}

h4 {
    font-size: larger;
    color: gray;
    margin-top: 70px;
}

/* Chord Selection */

#guitar-chords {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.chord-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.chord-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}


/* Variations */
#variations {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.variation-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.variation-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}


.find-btn {
    font-size: 17px;
    color: gray;
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 100px;
    float: right;
}

.chord-result a {
    margin-left: 100px;
    width: 300px;
}